{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventreminder</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eventReminder.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if eventReminder.createdAt %}{{ eventReminder.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if eventReminder.updatedAt %}{{ eventReminder.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventreminder_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eventreminder_edit', { 'id': eventReminder.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
