{% extends "admin/base.html.twig" %}

{% block body %}


    {# SEARCH FORM #}
    {{ form_start(search_employe_form) }}
        <div class="row well">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(search_employe_form.search_name, 'admin.employe.filter.name', { 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_errors(search_employe_form.search_name) }}
                    {{ form_widget(search_employe_form.search_name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(search_employe_form.search_phone, 'admin.employe.filter.phone', { 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_errors(search_employe_form.search_phone) }}
                    {{ form_widget(search_employe_form.search_phone, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn btn-info btn-md">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Chercher
                </button>

                <a href="{{ path('admin_employe') }}" class="btn btn-success btn-md">
                    Afficher tout
                </a>
            </div>
        </div>
    {{ form_end(search_employe_form) }}

    <div class="page-header">
        <h1>
            Liste des employes
            <a class="btn btn-lg btn-success pull-right" href="{{ path('admin_employe_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'admin.employe.new.title'|trans }}
            </a>
        </h1>
    </div>

    {# employeS TABLE #}
    <table class="table">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(employes, 'id', 'c.id') }}</th>
            <th></th>
            <th>{{ knp_pagination_sortable(employes, 'admin.employe.table.name'|trans, 'c.firstname') }}</th>
            <th>{{ knp_pagination_sortable(employes, 'admin.employe.table.phoneCell'|trans, 'contacts.phoneCell') }}</th>
            <th>{{ 'admin.employe.table.gender'|trans }}</th>
            {#<th>{{ 'admin.employe.table.nextEvent'|trans }}</th>#}
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {%  if employes|length %}
                {% for employe in employes %}
                    <tr>
                        <td><a href="{{ path('admin_employe_edit', { 'id': employe.id }) }}">{{ employe.id }}</a></td>
                        <td>
                            <!-- Profile picture -->
                            {% if employe.picture|length %}
                                <div class="pull-right">
                                    <img height="50" src="{{ vich_uploader_asset(employe.picture, 'imageFile') }}" alt="Photo de l'employer" />
                                </div>
                            {% endif %}
                        </td>
                        <td>{{ employe.firstname }} {{ employe.lastname }}</td>
                        <td>
                            {% if employe.contacts|length %}
                                {{ employe.contacts[0].phoneCell|phone_number_format('NATIONAL') }}
                            {% endif %}
                        </td>
                        <td>{{ employe.gender }}</td>
                        {#
                        <td>
                            {% if employe.events|length %}
                                {{ employe.events[0].startTime|date('Y-m-d H:i') }}h
                            {% else %}
                                Aucun rendez-vous
                            {% endif %}
                        </td>
                        #}
                        <td>
                            <a class="btn btn-xs btn-info" href="{{ path('admin_employe_edit', { 'id': employe.id }) }}">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="danger">
                    <td colspan="6">
                        {{ 'admin.employe.table.noResult'|trans }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation text-center">
        {{ knp_pagination_render(employes) }}
    </div>


{% endblock %}