{% set event = form.vars.data %}

{% extends '@EasyAdmin/default/edit.html.twig' %}

    {% block entity_form %}

        <div class="nav-tabs-custom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;">
                <li role="presentation" class="active"><a href="#info" aria-controls="events" role="tab" data-toggle="tab">Rendez-vous</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                {# Event #}
                <div role="tabpanel" class="tab-pane active" id="info">

                    <div class="row">
                        <div class="col-sm-8">
                            {{ form(form) }}
                        </div>
                        <div class="col-sm-4">
                            <div class="field-group">
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Reçus d'assurance
                                        </h3>
                                    </div>

                                    <div class="box-body">
                                        {% if event.receipts|length %}
                                            <ul>
                                                {% for receipt in event.receipts %}
                                                    <li>
                                                        <a data-toggle="modal" href="{{ path('admin_receipt_show', { 'id': receipt.id }) }}" data-target="#myModal" class="btn btn-xs btn-info">{{ receipt.receiptDate|date('Y-m-d') }} - {{ receipt.amount }} $</a>
                                                        {# PRINT
                                                        <a target="_blank" href="{{ asset(vich_uploader_asset(receipt, 'imageFile')) }}">{{ receipt.receiptDate|date('Y-m-d') }} - {{ receipt.amount }} $</a>
                                                        #}
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                        {% else %}
                                            <a data-toggle="modal" href="{{ path('admin_receipt_new', { 'id': event.id }) }}" data-target="#myModal" class="btn btn-xs btn-success">Créer un reçus d'assurance</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    {% endblock entity_form %}


{% block body_javascript %}
    {{ parent() }}

    <script>
        $(".event_datetimepicker").datetimepicker({
            bootcssVer: 3,
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            stepping: 60,
            minView: 'day',
            todayHighlight: true,
            language: 'fr',
            todayBtn: true
            {#pickerPosition: "bottom-left",#}
        })

        $( document ).ready(function() {

            // Reload calendar depending on tab opened
            $('a[data-toggle="tab"][aria-controls="events"]').on('shown.bs.tab', function (e) {
                $('#calendar-holder').fullCalendar('refetchEvents');
                $('#calendar-holder').fullCalendar('render');
            });
            $('a[data-toggle="tab"][aria-controls="configurations"]').on('shown.bs.tab', function (e) {
                $('#calendar-schedule').fullCalendarScheduler('render');
            });
            $('#myTab a:first').tab('show');

        });
    </script>
{% endblock %}