{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="row">
            <div class="col-sm-12">

                <div class="page-header">
                    <h3 class="modal-title" id="exampleModalLabel">
                        {{ form_label(form.answer, 'event.availability.question', { 'label_attr': {'class': 'control-label'}}) }}
                        <br />
                        <span class="label label-info label-lg">
                            {{ availabilityNotification.eventFreed.startTime|date('H:ia') }} - {{ availabilityNotification.eventFreed.startTime|localizeddate('full', 'none', app.request.locale) }}
                        </span>
                    </h3>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="form-group">
                                {{ form_errors(form.answer) }}
                                {{ form_widget(form.answer, { 'attr': {'class': ''} }) }}
                            </div>
                        </div>

                        <p class="text-muted small" style="font-size: 14px;">
                            {{ 'event.availability.warning'|trans }}
                        </p>

                    </div>
                </div>

                <div class="col-sm-12">
                    <a class="btn btn-default" href="{{ path('user_profile') }}">
                        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                        {{ 'event.availability.uncertain'|trans }}
                    </a>
                    <input class="btn btn-lg btn-success" type="submit" id="_submit" name="_submit" value="{{ 'event.availability.submit'|trans }}" />
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
