
{{ form_start(form, {'attr': {'id': 'event_cancellation'}, 'action': path('event_cancel', { 'id': event.id })}) }}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="exampleModalLabel">{{ 'event.cancellation.title'|trans }}</h4>
</div>
<div class="modal-body">
    {{ form_widget(form) }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general.modal.close'|trans }}</button>
    <button type="submit" class="btn btn-danger" data-loading-text="Annulation en cours...">{{ 'event.cancellation.submit'|trans }}</button>
</div>
{{ form_end(form) }}


<script>
    $("#event_cancellation").submit(function(e){

        e.preventDefault();
        $(this).find(':submit').button('loading');
        var formSerialize = $(this).serialize();
        $.post($(this).attr('action'), formSerialize, function(response){
            //your callback here
            location.reload();

        },'JSON');
    });
</script>