{#
{% block subject %}
    {% autoescape false %}
        Ceci est mon sujet Appointment Notification - Voulez vous ce rnedez-vous?
    {% endautoescape %}
{% endblock %}
#}
{% block body_html %}
    <h3>Système de notification CliniqueCoderre.com</h3>
    Une plage horaire c'est libéré à {{ eventFreed.startTime|date('H:ia') }} le {{ eventFreed.startTime|localizeddate('full', 'none', 'fr') }}.</h3>
    Désirez-vous la réserver?
    <br /><br />
    <a href="{{ availabilityNotificationYesUrl }}">{{ 'event.availability.answer.yes'|trans }}</a>
    <br /><br />
    <a href="{{ availabilityNotificationNoUrl }}">{{ 'event.availability.answer.no'|trans }}</a>
    <br /><br />
    CliniqueCoderre.com
    Ostéopathie - Massothérapie
    395 rue Cormier, Drummondville
{% endblock %}
