{% extends "easy_admin/layout.html.twig" %}

{% block content_title %}
    Dashboard <small>Paneau de contrôle</small>
{% endblock %}

{% block flash_messages %}
    {{ include('easy_admin/flash_messages.html.twig') }}
{% endblock flash_messages %}

{% block main %}
    <div class="row">

        <div class="col-md-12">
            <div class="box">
                <div class="box-header">

                    <h3 class="box-title">
                        Notification automatique de disponibilitée
                    </h3>
                    <p class="help-block">
                        Envoi de courriel pour aviser les clients d'une nouvelle disponibilité
                        {% if availabilityNotifications|length %}
                            <span class="label label-success">Envoi en cours</span>
                        {% else %}
                            <span class="label label-info">Aucun envoi en cours</span>
                        {% endif %}
                    </p>

                </div>
                <!-- /.box-header -->
                {% if availabilityNotifications|length %}
                    <div class="box-body no-padding">
                        <table class="table table-hover">
                            <tbody><tr>
                                <th></th>
                                <th>Notifications envoyée</th>
                                <th>Disponibilité</th>
                                <th>Dernière notification</th>
                            </tr>
                            {% for notification in availabilityNotifications  %}
                                <tr>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-left" aria-labelledby="dropdownMenu2">
                                                <li><a href="{{ path('admin_appointment_notification_answer', { 'id': notification.command_id }) }}">Abandonner l'envoi</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">Envoyer à tous</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td align="center">
                                        <span class="badge bg-red">{{ notification.sent|length }}</span>
                                    </td>
                                    <td>
                                        {{ notification.event.startTime|date('H:i A') }} - {{ notification.event.startTime|localizeddate('full', 'none', app.request.locale) }}
                                    </td>
                                    <td>
                                        {% if notification.last %}
                                            {{ notification.last.eventToReplace.client.fullNameEmailPhoneToString }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody></table>
                    </div>
                {% endif %}
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Votre horaire</h3>
                </div>
                <div class="box-body no-padding">
                    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Nouveau rendez-vous</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                {{ form_start(form_event, {'attr': {'id': 'event_new'}, 'action': path('admin_event_new')}) }}
                    <div class="box-body">
                        {{ form_widget(form_event) }}
                        <p class="help-block">Sélectionner une case disponible</p>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success" data-loading-text="Envoi en cours...">{{ 'admin.event.new.submit'|trans({}, 'messages') }}</button>
                    </div>
                {{ form_end(form_event) }}
            </div>
        </div>

        <div class="col-md-4">
            <p class="text-center">
                <strong>Goal Completion</strong>
            </p>

            <div class="progress-group">
                <span class="progress-text">Add Products to Cart</span>
                <span class="progress-number"><b>160</b>/200</span>

                <div class="progress sm">
                    <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                </div>
            </div>
            <!-- /.progress-group -->
            <div class="progress-group">
                <span class="progress-text">Complete Purchase</span>
                <span class="progress-number"><b>310</b>/400</span>

                <div class="progress sm">
                    <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                </div>
            </div>
            <!-- /.progress-group -->
            <div class="progress-group">
                <span class="progress-text">Visit Premium Page</span>
                <span class="progress-number"><b>480</b>/800</span>

                <div class="progress sm">
                    <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                </div>
            </div>
            <!-- /.progress-group -->
            <div class="progress-group">
                <span class="progress-text">Send Inquiries</span>
                <span class="progress-number"><b>250</b>/500</span>

                <div class="progress sm">
                    <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                </div>
            </div>
            <!-- /.progress-group -->
        </div>

    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    {# <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings-admin.js') }}"></script> #}

    <script type="text/javascript" src="{{ asset('js/fullCalendarScheduler.js') }}"></script>

    <script>

        $( document ).ready(function() {

            // Submit form #event_new
            $('#admin_appointment_startTime').prop("readonly", true);
            $("#event_new").submit(function(e){
                e.preventDefault();
                $("#event_new").find('.has-error').removeClass('has-error');

                var submitButton = $(this).find(':submit').button('loading');
                var formSerialize = $(this).serialize();
                $.post($(this).attr('action'), formSerialize, function(response){

                    if(response.result.success) {
                        location.reload();
                    } else {
                        submitButton.button('reset');
                        $.each(response.result.data, function(e){
                            $("#event_new").find("input[name*='"+ e +"']").closest('.form-group').addClass('has-error');
                        });
                    }
                    //your callback here
                },'JSON');
            });
            $(document).on('change', "[name*='employe']", function() {
                // Show loading
                $("#main").LoadingOverlay("show");
                $("[name*='startTime']").val('');

                // Reload event
                $.when( $('#calendar-holder').fullCalendar( 'refetchEvents' )).then(function(){
                    $("#main").LoadingOverlay("hide", true);
                })
            });


            // Admin Event Calendar
            $('#calendar-holder').fullCalendar({
                locale: 'fr',
                //hiddenDays: [0, 6],
                height: "auto",
                allDaySlot: false,
                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                slotMinutes: 15,
                minTime: "08:00:00",
                maxTime: "20:00:00",
                slotLabelFormat:"HH:mm a",
                timeFormat: 'HH:mm',
                defaultView: 'agendaWeek',
                eventSources: [
                    {
                        events: function(start, end, timezone, callback) {

                            // Show loading
                            $("#main").LoadingOverlay("show");

                            $.ajax({
                                url: Routing.generate('fullcalendar_loader'),
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    // our hypothetical feed requires UNIX timestamps
                                    start: start.unix(),
                                    end: end.unix(),
                                    employe: $( "[name*='employe']" ).val(),
                                    isEmploye: true
                                },
                                success: function(data) {

                                    var events = [];
                                    $.each(data, function(index) {
                                        console.log( data[index].start);
                                        events.push({
                                            allDay: false,
                                            backgroundColor: data[index].backgroundColor,
                                            borderColor: data[index].borderColor,
                                            className: data[index].className,
                                            start: data[index].start,
                                            end: data[index].end,
                                            textColor: data[index].textColor,
                                            title: data[index].title
                                        });
                                    });

                                    $("#main").LoadingOverlay("hide", true);

                                    callback(events);
                                }
                            });
                        }
                    }
                ],
                eventClick: function(calEvent, jsEvent, view) {
                    $('.myEvent').each(function() {
                        $(this).removeClass('myEvent');
                    });

                    // change the border color just for fun
                    if (!$(this).hasClass('unavailable')) {

                        // Update Starttime in the form
                        starttime = moment(calEvent.start).format('YYYY-MM-DD HH:mm');
                        $('#admin_appointment_startTime').val(starttime);
                        $(this).addClass('myEvent');
                    } else {
                        $('#admin_appointment_startTime').val();
                        $('#admin_appointment_startTime').prop('value', '');
                        alert('{{ 'event.error.notFree'|trans }}');
                    }
                },
            });


        });
    </script>

{% endblock %}