{% extends 'base.html.twig' %}

{% block body %}

        <div class="col-xs-12">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

                <div class="page-header">
                    <h1>Connexion ou enregistrement</h1>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="well">
                            {{ form_start(form) }}
                                {{ form_row(form._username) }}
                                {{ form_row(form._password) }}
                                <button type="submit" class="btn btn-success">{{ 'login.button'|trans }} <span class="fa fa-lock"></span></button>
                                <br /><br />
                                <a href="{{ path('user_request_password') }}">{{ 'login.forgot'|trans }}</a>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="lead"><span class="text-success">Enregistrez-vous</span></p>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="fa fa-check text-success"></span> Pour prendre un rendez-vous</li>
                        </ul>
                        <p><a href="{{ path("user_register") }}" class="btn btn-info btn-block">Enregistrez-vous!</a></p>
                    </div>
                </div>

        </div>
{% endblock %}

{% block footer %}
{% endblock %}