{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'login.title'|trans }}</h1>
            </div>
            {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <button type="submit" class="btn btn-success">{{ 'login.button'|trans }} <span class="fa fa-lock"></span></button>
                <a href="{{ path('user_request_password') }}">{{ 'login.forgot'|trans }}</a>
            {{ form_end(form) }}
        </div>

        <div class="col-xs-12">
            <div class="page-header">
                <h2>{{ 'registration.title'|trans }}</h2>
            </div>
            <p class="help-block">
                {{ 'registration.help'|trans|raw }}
            </p>
            <br /><br />
            <a href="{{ path("user_register") }}" class="btn btn-info">{{ 'registration.title'|trans }}!</a>
        </div>

    </div>
{% endblock %}

{% block footer %}
{% endblock %}